.container {
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: right;
    width: 1100px;
    }

    .container h2 {
        padding: 40px;
        font-family: Arial, sans-serif;
        text-align: right;
        margin-right: 50px;
    }

    .undermaintytle{
        margin-right: 100px;
        text-align: right;
      }
  
  .content {
    margin-top: 0px;
    line-height: 1.8;
  }

  .sectionTitle{
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: italic;
  }
  
  .paragraph {
    margin-top: 0;        /*  专 注 专专转  砖 p */
    margin-bottom: 20px;  /* 专拽 专 驻住拽 */
    font-style: italic;
  }

  /* 拽  转 */
  .features {
    margin-top: 40px;
  }
  
  .features h3 {
    font-size: 1.5em;
    gap: 10px;
  }
  
  /* 住驻转 拽  */
  .features h3::after {
    content: "わ";
    font-size: 1.2em;
  }
  
  /* 驻专 拽砖专 */
  .contactInfo {
    margin-top: 20px;
    font-size: 0.9em; /* 拽转 驻 志2 驻拽住 注专 */
    color: #333;
  }
  
  .contactButton {
    margin-top: 15px;
    margin-right: 20px; /*    砖 转 驻转专  */
    padding: 5px 20px;
    background-color: #636161;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  
  .contactButton:hover {
    background-color: #474646;
  }
  
